$logo-text-color: #c2185b;

$promo-bg-color: #f48fb1;
$circle-product-bg-color: #eeeeee;

$recommend-product-bg-color: #fce4ec;
$editor-product-bg-color: #f5f5f5;
$editor-bg-color: #f8bbd0;

$product-bg-color: #e0e0e0;
