@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

$logo-font: "Leckerli One", cursive;
$main-font: "Rubik", sans-serif;
$Roboto: "Roboto Slab", serif;
