.Category {
  font-family: $main-font;
  max-width: 1400px;
  margin: 0 auto;
  padding: 12px 36px;

  .navLink {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    .left {
      span {
        margin-right: 12px;
        align-content: center;
        align-self: center;
      }
      a {
        color: rgb(34, 34, 34);
        text-decoration: underline;
        text-transform: capitalize;
        padding-bottom: 5px;
        &:hover {
          color: rgb(89, 89, 89);
        }
      }
    }
    .right {
      width: 200px;
    }
  }

  .heading {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    h1 {
      line-height: 1.2;
      font-size: 26px;
      font-weight: 500;
    }
  }

  .ProductGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;

    .ProductCard {
      text-decoration: none;
      cursor: pointer;
      color: rgb(34, 34, 34);

      &:hover {
        .ProductCardImg {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
      }

      .ProductCardImg {
        width: 100%;
        height: 200px;
        object-fit: contain;
        overflow: hidden;
        background-color: $img-color;
        transition: box-shadow 200ms ease-in-out 0ms;
        border-radius: 5px;
      }

      .ProductCardName {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        max-width: 100%;
        // display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .ProductCardPrice {
        font-weight: 600;
      }
    }
  }
}
