.PromoWrapper {
  display: block;
  margin-bottom: 30px;
  color: rgb(34, 34, 34);
  background-color: $promo-bg;
  h1 {
    font-family: $Roboto;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 12px 12px 12px;
  }

  .PromoContentWrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 36px;

    h2 {
      padding-bottom: 12px;
      line-height: 28px;
      font-family: $main-font;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
  }
}
.ProductCircleWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -9px;

  .ProductCircleContainer {
    display: block;
    padding: 9px 18px 18px 18px;
    flex-grow: 1;
    flex-basis: 1/6;
    max-width: 1/6;

    .ProductCircle {
      display: inline-block;
      position: relative;
      width: 100%;
      font-size: 13px;
      font-family: $main-font;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      cursor: pointer;
      color: rgb(34, 34, 34);
      &:link {
        text-decoration: none;
      }

      &:hover {
        .Arrow {
          transition: transform 250ms;
          transform: translateX(5px);
        }
      }

      .ProductCircleImg {
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
        max-width: 160px;
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        background-color: $img-color;
        &:hover {
          transition: box-shadow 100ms ease-in-out 50ms;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
      }
      .ProductCircleLink {
        display: flex;
        justify-content: center;
        position: relative;
        .ProductName {
          margin-right: 5px;
          text-decoration: none;
        }
        .Arrow {
          position: relative;
        }
      }
    }
  }
}

.Recommendation {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: $main-font;
  font-size: 14px;
  text-align: left;
  .flexWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    max-width: 1400px;
    margin: 0 auto;
    .itemsWrapper {
      display: block;
      flex-basis: 100%;
      flex-grow: 1;
      padding: 0 18px;
      .headingWrapper {
        align-items: flex-end;
        margin-bottom: 12px;
        display: flex;
        h2 {
          font-size: 28px;
          font-weight: 500;
          line-height: 36px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .ProductCardsContainer {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        column-gap: 18px;

        .ProductCard {
          text-decoration: none;
          cursor: pointer;
          color: rgb(34, 34, 34);
          height: 165px;
          background-color: $img-color;
          transition: box-shadow 100ms ease-in-out 0ms;
          border-radius: 5px;

          &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          }

          .img-container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            .ProductCardImg {
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
              overflow: hidden;
            }
          }

          .ProductCardName {
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            max-width: 100%;
            // display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .ProductCardPrice {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.EditorPicks {
  font-size: 16px;
  font-weight: 300;
  font-family: $main-font;
  background: linear-gradient(182deg, transparent 50px, $editor-bg) top;
  background-repeat: no-repeat;
  height: 420px;
  margin-top: 128px;
  .gridContainer {
    max-width: 1400px;
    height: 400px;
    padding: 0 42px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 18px;
    row-gap: 18px;

    .text1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 18px;
      h1 {
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
      }
      h2 {
        margin-top: 6px;
        margin-bottom: 12px;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 36px;
      }

      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
      }
    }
    .text2 {
      padding: 9px;
      font-size: 16px;
      font-weight: 300;
    }

    .EditorCard {
      margin: 2px;
      padding: 9px;
      height: 200px;
      position: relative;
      color: rgb(34, 34, 34);
      display: flex;
      justify-content: center;
      border-radius: 5px;
      background-color: $img-color;
      & a:link {
        text-decoration: none;
        font-size: 13px;
        font-weight: 400;
      }
      &:hover {
        transition: box-shadow 100ms ease-in 0ms;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        .EditorCardPrice {
          display: block;
        }
      }

      .EditorCardImg {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: cover;
        overflow: hidden;
      }
      .EditorCardPrice {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: white;
        border-radius: 15px;
        padding: 6px 9px;
        transition: box-shadow 200ms ease-in-out 0ms;
      }
    }
  }
}
