.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  animation-name: open;
  animation-duration: 300ms;
  &-reverse {
    animation-name: close;
  }
  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes close {
    from {
      opacity: 1;
      z-index: 100;
    }
    to {
      opacity: 0;
      z-index: -10;
    }
  }
  .modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    min-width: auto;
  }
}

// .login-form-box,
// .signup-form-box {
//   height: 600px;
//   width: 350px;
//   padding-left: 15px;
//   background: white;
//   position: relative;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 30px;

//   .login-form,
//   .signup-form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 0em;
//     height: 300px;
//     width: 325px;
//   }
//   .logo {
//     padding-top: 22px;
//     width: 90px;
//     height: 80px;
//   }

//   .close-x {
//     z-index: 100;
//     position: absolute;
//     top: 16px;
//     left: 16px;
//     transform: scale(1.4, 1);
//     font-weight: 300;
//     font-size: 22px;
//     cursor: pointer;
//     color: gray;
//   }

//   .session-submit {
//     width: 100%;
//     outline: none;
//     padding-top: 100px;
//   }

//   .other-form {
//     width: 100%;
//     outline: none;
//     padding-top: 20px;
//     padding-bottom: 50px;
//   }
// }

// .login-email,
// .login-password,
// .signup-email,
// .signup-password {
//   border-style: none;
//   vertical-align: middle;
//   font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
//     sans-serif;
//   font-size: 16px;
//   font-weight: 345;
//   line-height: 2.5;
//   width: 300px;
//   background-color: #0a0a0a96;
//   color: white;
//   outline: none;
//   padding-left: 1vw;
// }

// .login-email,
// .signup-email {
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
//   margin-top: 40px;
// }

// .session-inputs {
//   padding-left: 20px;
// }
// .session-error {
//   padding-top: 5px;
//   font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
//     sans-serif;
//   font-size: 16px;
//   font-weight: 300;
//   line-height: 1.5;
// }
// .login-password,
// .signup-password {
//   border-bottom-left-radius: 6px;
//   border-bottom-right-radius: 6px;
// }

// .signin-header,
// .signup-header {
//   font-size: 24px;
//   font-style: normal;
//   padding-top: 20px;
// }

// .sign-in-info,
// .signup-info {
//   font-weight: 300;
//   font-size: 18px;
//   font-style: normal;
//   padding-top: 25px;
// }

// .session-submit,
// .other-form {
//   border-style: none;
//   background-color: rgb(51, 51, 51);
//   color: rgb(102, 187, 255);
//   cursor: pointer;
//   font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
//     sans-serif;
//   font-size: 15px;
//   font-weight: 348;
// }
// .session-submit:hover,
// .other-form:hover {
//   text-decoration: underline;
// }
