.product-image {
  height: 165px;
  width: 205px;
  object-fit: cover;
}

/* .products-all-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
} */

.product-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 30px;
}

.product-list-index {
  margin-right: 15px;
  margin-left: 5px;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-image:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  cursor: pointer;
}

.product-price {
  margin-top: 0;
  font-weight: bold;
  font-family: "Montserrat";
}

.products-header {
  text-align: left;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: bold;
  padding-left: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.product-name {
  font-family: "Montserrat";
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #22223b;
}

.product-show-page {
  padding-left: 250px;
  padding-right: 250px;
  font-family: "Montserrat";
  padding-bottom: 200px;
}

.product-show-image {
  position: relative;
  padding-top: 35px;
  height: 635px;
  width: 800px;
  display: block;
  padding-left: 95px;
  object-fit: cover;
}

.product-show-name {
  position: absolute;
  left: 63.5%;
  top: 20%;
  font-size: 30px;
}

.product-show-price {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 260px;
  left: 63.5%;
}

.product-show-quantity-label {
  position: absolute;
  left: 63.5%;
  top: 330px;
  font-size: 8;
}

.product-quantity-box {
  position: absolute;
  left: 63.5%;
  display: block;
  border-radius: 5px;
  width: 20.5%;
  box-shadow: 0 0 5px rgb(179, 177, 177);
  height: 45px;
  top: 360px;
  border-style: none;
  padding-left: 10px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 900;
}

.product-quantity-box:hover {
  transition-duration: 0.5s;
  border: 1px solid black;
}

.product-show-add-button {
  display: block;
  position: absolute;
  top: 420px;
  left: 63.5%;
  text-align: center;
  font-weight: bolder;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-style: none;
  background-color: #22223b;
  color: white;
  width: 20.5%;
  height: 50px;
  font-size: 18px;
}

.product-show-add-button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.product-show-tag {
  position: absolute;
  left: 63.5%;
  top: 745px;
  font-size: 14px;
  font-weight: bolder;
}

.product-description-box {
  position: absolute;
  left: 63.5%;
  top: 800px;
  padding-right: 290px;
  line-height: 2;
  font-size: 14px;
}

.product-in-stock {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 278px;
  left: 80%;
}

.product-available p {
  position: absolute;
  top: 267px;
  left: 81%;
  font-weight: bold;
  font-size: 12px;
}

.product-show-icon1 {
  height: 40px;
  width: 40px;
}

.product-show-icon2 {
  height: 50px;
  width: 45px;
}

.product-show-icon1 {
  position: absolute;
  top: 490px;
  left: 63.5%;
}

.product-show-icon2 {
  position: absolute;
  top: 540px;
  left: 63.5%;
}

.product-in-cart {
  position: absolute;
  top: 485px;
  left: 66.5%;
  padding-right: 280px;
  font-size: 12px;
}

.highlight-text {
  font-weight: bolder;
}

.product-delivery {
  position: absolute;
  top: 545px;
  left: 66.5%;
  padding-right: 280px;
  font-size: 12px;
}

.product-highlight-list {
  list-style: none;
}

.product-highlight1,
.product-highlight2 {
  height: 15px;
  width: 15px;
}

.product-highlight-header {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 63.5%;
  top: 600px;
}

.product-highlight1 {
  position: absolute;
  left: 63.5%;
  top: 675px;
}

.product-highlight2 {
  position: absolute;
  left: 63.5%;
  top: 710px;
}

.product-highlight-p {
  position: absolute;
  top: 660px;
  left: 64.5%;
  font-size: 14px;
}

.product-highlight-p2 {
  position: absolute;
  top: 695px;
  left: 64.5%;
  font-size: 14px;
}

.rating {
  position: absolute;
  height: 100px;
  padding-left: 15px;
  top: 793px;
}

.rating-header {
  padding-left: 30px;
  font-size: 20px;
  padding-top: 35px;
}

.rating-separator {
  position: absolute;
  border-bottom: 2px solid lightgray;
  left: 15%;
  padding-right: 650px;
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 16px;
}

.anon-pic1 {
  position: absolute;
  left: 15.2%;
  top: 950px;
}

.rating1 {
  position: absolute;
  height: 100px;
  top: 950px;
  left: 17.2%;
}

.comment1 {
  list-style: none;
  display: block;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 100px;
}

.comment1-user {
  position: absolute;
  left: 17.2%;
  top: 960px;
  font-size: 12px;
}

.comment1-date {
  position: absolute;
  left: 21.5%;
  top: 960px;
  font-size: 12px;
}

.comment1 p {
  position: absolute;
  left: 17.2%;
  top: 1010px;
}

.comment2 {
  list-style: none;
}

.rating2 {
  position: absolute;
  height: 100px;
  top: 1100px;
  left: 17.2%;
}

.anon-pic2 {
  position: absolute;
  left: 15.2%;
  top: 1100px;
}

.comment2-user {
  position: absolute;
  left: 17.2%;
  top: 1110px;
  font-size: 12px;
}

.comment2-date {
  position: absolute;
  left: 20.5%;
  top: 1110px;
  font-size: 12px;
}

.comment2 p {
  position: absolute;
  left: 17.2%;
  top: 1160px;
  padding-right: 800px;
  line-height: 1.5;
}

.product-show-seller {
  position: absolute;
  left: 63.5%;
  top: 13.5%;
  font-weight: bold;
}

.store-rating {
  height: 70px;
  position: absolute;
  left: 67.5%;
  top: 14.6%;
}

.product-sales {
  position: absolute;
  left: 63.5%;
  top: 16.5%;
  font-size: 12px;
}

.product-sale-seller span {
  position: absolute;
  left: 66.5%;
  top: 17.5%;
  font-size: 12px;
}

.seller-profile h3 {
  position: absolute;
  left: 63.5%;
  top: 930px;
  font-size: 15px;
}

.seller-profile-pic {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 63.5%;
  top: 990px;
}

.seller-profile-name {
  position: absolute;
  left: 68%;
  top: 970px;
  font-size: 20px;
}

.seller-profile p {
  position: absolute;
  left: 68%;
  top: 1015px;
  font-size: 12px;
  font-weight: bold;
}

.photo-sidebar {
  position: absolute;
  height: 60px;
  width: 60px;
  display: block;
  border-radius: 5px;
  border: 3px solid black;
  margin-left: 23px;
  margin-top: 35px;
}

.selections-image {
  height: 165px;
  width: 206px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}