.ProductShowContainer {
  width: 1400px;
  padding-top: 30px;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 42px;
}

.leftCol {
  padding-left: 30px;
}

.rightCol {
  padding-right: 30px;
}
